
.column {
    width: 50%;
    float:left
}
.column-two {
    background-color: #0fffff;
    width: 50%; 
    float: right
}

.this {
    text-align: center;
    border-left: 4px solid blue;
    border-right: 4px solid blue;
    border-top: 6px solid rgb(2, 2, 2);
    border-bottom: 6px solid black;
    background-color: rgb(104, 243, 243)

}